body{
    background-image: url("../image/b.jpg");
}

.sam{
text-align: center;
color: lightblue;
}

ul{
list-style-type: none;
margin: 0;
padding: 0;
width: 200px;
background-color: rgb(10, 22, 134);
border: 1px solid rgb(12, 100, 5);

}
li a{
display: block;
color: rgb(246, 246, 246);
padding: 8px 0 8px 16px;
text-decoration: none;
font-family: sans-serif;
}
li a.active{
background-color: #4caf50;
color: rgb(238, 238, 238);
}